.c-button {
    font-weight: 500;
    font-feature-settings: "palt" 1;
    line-height: 1;
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    letter-spacing: 0.06em;
}

.c-button:after {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: scaleX(0);
    transform-origin: left center;
    background-color: #CD9B8C;
}

.is-onscreen .c-button:after {
    transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: scaleX(1);
}

.c-button:hover:after {
    animation: moveLineLeftToRight 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
}

@keyframes moveLineLeftToRight {
    0% {
        transform: scaleX(1);
        transform-origin: right center;
    }

    49.9% {
        transform: scaleX(0);
        transform-origin: right center;
    }

    50% {
        transform: scaleX(0);
        transform-origin: left center;
    }

    100% {
        transform: scaleX(1);
        transform-origin: left center;
    }
}

.c-button--w {
    color: #fff;
}

.c-button--w:after {
    background-color: #fff;
}

.c-button--w:hover {
    color: #fff;
}

.c-button .c-icon-newwindow {
    font-size: 10px;
    font-weight: 400;
}

.c-button__inner {
    position: relative;
    display: inline-block;
}

.c-button__text {
    position: relative;
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(102%);
}

.is-onscreen .c-button__text {
    transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(0);
}

.c-button-2 {
    display: inline-block;
    font-weight: 500;
    line-height: 1;
    padding: 15px 50px;
    transition: 0.2s;
    text-align: center;
    letter-spacing: 0.06em;
    border: solid 1px #e1e1e1;
    border-radius: 10px;
    background-color: #fff;
    color: #4d4d4d;
    margin: auto;
    cursor: pointer;
}

.c-button-2:hover {
    font-weight: 700;
    color: #CD9B8C;
    border: 3px outset #CD9B8C;
}

.c-button-2:active {
    border: 1px solid #CD9B8C;
}

.c-button-2 .c-icon-arrow-s-right {
    font-size: 1.5em;
    font-weight: 400;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

@media (max-width: 1023px) {
    .c-button-2 {
        padding: 15px 30px;
        transition: none;
    }
}

@media (max-width: 767px) {
    .c-button-2 {
        display: block;
    }
}

.c-button-close {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .c-button-close {
        width: 80px;
        height: 80px;
    }
}

.c-button-close__inner {
    width: 100%;
    height: 100%;
    padding: 40px 30px;
}

@media (max-width: 767px) {
    .c-button-close__inner {
        padding: 32px 28px;
    }
}

.c-button-close__bar {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 2px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: center center;
}

.c-button-close__bar--1 {
    top: 50%;
    transform: rotate(45deg) translateY(50%);
}

.c-button-close__bar--2 {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
}

.c-button-close__bar-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

.c-button-close__bar-back {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0);
}

.c-button-arrow {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .c-button-arrow {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 767px) {
    .c-button-arrow {
        width: 50px;
        height: 50px;
    }
}

.c-button-arrow__inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.c-button-arrow__text {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 400;
    position: absolute;
    bottom: 50%;
    left: 50%;
    display: none;
    overflow: hidden;
    margin-bottom: 10px;
    transform: translateX(-50%);
    letter-spacing: 0.02em;
}

.is-page-open .c-button-arrow__text {
    display: block;
}

@media (max-width: 767px) {
    .c-button-arrow__text {
        font-size: 11px;
        font-size: 1.1rem;
    }
}

.c-button-arrow__text-inner {
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(103%);
}

.c-button-arrow:hover .c-button-arrow__text-inner {
    transform: translateY(0);
}

.c-button-arrow__bar {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    width: 60px;
    height: 2px;
    transform: translate(-50%, -50%);
}

@media (max-width: 1023px) {
    .c-button-arrow__bar {
        width: 40px;
    }
}

@media (max-width: 767px) {
    .c-button-arrow__bar {
        width: 30px;
    }
}

.c-button-arrow__bar-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(-100%);
}

.is-page-open .c-button-arrow__bar-inner {
    transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(0);
}

.c-button-arrow__bar-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

.c-button-arrow__bar-back {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0);
}

.c-button-toggle {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .c-button-toggle {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 767px) {
    .c-button-toggle {
        width: 50px;
        height: 50px;
    }
}

.c-button-toggle__inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 49px 30px;
}

@media (max-width: 1023px) {
    .c-button-toggle__inner {
        padding: 39px 25px;
    }
}

@media (max-width: 767px) {
    .c-button-toggle__inner {
        padding: 24px 15px;
    }
}

.c-button-toggle__bar {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 2px;
    transition: 0.3s;
    transform-origin: center center;
}

.c-button-toggle__bar--2 {
    top: -2px;
    transform: rotate(90deg);
}

.is-category-show .c-button-toggle__bar--2 {
    transform: rotate(0deg);
}

.c-button-toggle__bar-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}

.c-button-toggle__bar-back {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0);
}

.i-button {
    display: flex;
    border: 0.5px solid #e1e1e1;
    background-color: white;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    margin: 5px 2px;
    cursor: pointer;
}

.i-button:hover {
    background-color: black;
    color: #fcd0c2;
}

.i-button--w {
    color: #fff;
}

.i-button--w:after {
    background-color: #fff;
}

.i-button--w:hover {
    color: #fff;
}

@media (max-width: 1023px) {
    .i-button {
        transition: none;
    }
}

.i-button-2 {
    border: solid 2px white;
    box-shadow: 0px 10px 14px -7px #e6b5a6;
    background: linear-gradient(to bottom, #e6b5a6 5%, #c48876 100%);
    background-color: #e6b5a6;
    border-radius: 8px;
    cursor: pointer;
    color: #ffffff;
    text-shadow: 0px 1px 0px #e09d89;
}

.i-button-2:hover {
    background: linear-gradient(to bottom, #c48876 5%, #e6b5a6 100%);
    background-color: #c48876;
}

.i-button-2:active {
    position: relative;
    top: 1px;
}