.i-menu {
  margin: auto;
}
.i-heading {
  font-size: 4rem;
  font-weight: bold;
}
.i-heading br {
  display: none;
}
@media screen and (max-width: 1023px) {
  .i-heading {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 767px) {
  .i-heading {
    line-height: 1.5;
  }
  .i-heading br {
    display: block;
  }
}
@media screen and (max-width: 560px) {
  .i-heading{
    font-size: 2.4rem;
    text-align: center;
  }
}

.c-button-2 {
  width: 200px;
  padding: 6px;
  margin: auto 10px;
}
