.l-header__group {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50px;
    right: 120px;
}

@media (max-width: 1023px) {
    .l-header__group {
        top: 40px;
    }
}

@media (max-width: 767px) {
    .l-header__group {
        top: 30px;
        right: 80px;
    }
}

.l-header__item label {
    font-size: 1.6rem;
    font-weight: 500;
}

.l-header__item input {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid #cd9b8c;
    width: 100px;
}

@media (max-width: 767px) {
    .l-header__item input,
    .l-header__item label {
        width: 80px;
        font-size: 1.2rem;
    }
}

.l-header__item-VIP {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .l-header__item-ID,
    .l-header__item-VIP {
        display: none;
    }
}

.is-gnav-open div.l-header__group {
    display: none;
}
