.i-menu {
    margin: 10px auto;
    display: flex;
}

.i-menu__item {
    margin: 5px auto 15px;
    text-align: center;
}

.c-button-2 {
    width: 200px;
}

.c-button-2__inner {
    font-size: 1.2rem;
}

@media (max-width: 767px) {
    .i-menu {
        flex-direction: column-reverse;
    }

    .c-button-2__inner {
        font-size: 1rem;
    }
}