.personal-title {
    display: flex;
}

@media (max-width: 767px) {
    .personal-title {
        display: flex;
        justify-content: center;
    }
}

.personal-form {
    width: 100%;
    margin: 60px auto;
}

@media (max-width: 767px) {
    .personal-form {
        flex-direction: column;
        align-items: center;
    }
}

.personal-form__item-img {
    display: flex;
    // width: 300px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.personal-form__item-img label {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2rem;
}

.personal-form__item-img label img {
    // width: 100%;
    // height: auto;
    width: 30rem;
    height: 30rem;
}

// @media (max-width: 1023px) {
//     .personal-form__item-img {
//         width: 250px;
//         height: 250px;
//     }
// }

@media (max-width: 767px) {
    .personal-form__item-img {
        width: 200px;
    }

    .personal-form__item-img label img {
        width: 20rem;
        height: 20rem;
    }
}