@import "../Common/base", "../Common/header", "../Common/nav", "../Common/menu";

.i-form-5{
    width: 100%;
}
.i-form-5__br{
    display: none;
}
@media screen and (max-width: 1023px) {
    .i-form-5__br{
        display: block;
    }
}
.i-form-5__group{
    margin: 10px auto;
}
.i-form-5__heading{
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 0;
    color: #555;
}
@media screen and (max-width: 767px) {
    .i-form-5__heading{
        font-size: 1.6rem;
    }
}
.i-form-5__body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    font-size: 1.6rem;
}
@media screen and (max-width: 1023px) {
    .i-form-5__body{
        font-size: 1.4rem;
    }
}
.i-form-5__item{
    display: flex;
    align-items: center;
    height: 20px;
    width: 300px;
    flex-wrap: nowrap;
}
.i-form-5__item label{
    width: 18px;
    height: 18px;
}
.i-form-5__item label{
    white-space: nowrap;
    margin-left: 10px;
}
@media screen and (max-width: 1023px) {
    .i-form-5__item{
        width: 160px;
    }
    .i-form-5__item label{
        margin-left: 6px;
    }
    .i-form-5__item input{
        width: 12px;
        height: 12px;
    }
    .i-form-5__item-1{
        width: 240px;
    }
}
@media screen and (max-width: 767px) {
    .i-form-5__item{
        width: 150px;
    }
    .i-form-5__item-1{
        width: 230px;
    }
}


@media screen and (max-width: 767px) {
    .l-content__header{
        padding: 10vw 4vw 2vw;
    }
}
.l-content__heading{
    font-size: 5rem;
}
.l-content__heading br{
    display: none;
}
@media screen and (max-width: 1023px) {
    .l-content__heading{
        font-size: 4.5rem;
    }
}
@media screen and (max-width: 767px) {
    .l-content__heading{
        line-height: 1.5;
    }
    .l-content__heading br{
        display: block;
    }
}
.i-Invest__group{
    margin: 20px auto;
}
.c-form__body{
    border: none;
    font-size: 1.6rem;
}
.form-control{
    height: 54px;
}
.i-notice p{
    text-indent: 2rem;
}
// PersonalInvestDone
.investDone{
    text-align: center;
    margin: 20vh 10vh auto;
}
.investDone .i-menu{
    margin-top: 10vh;
}
.investDone .i-menu button{
    border: none;
    background: none;
}
