@import "../Common/base", "../Common/header", "../Common/nav", "../Common/Personal", "../Common/menu";

.c-button-2 {
  width: 250px;
}
.c-form__header{
  flex-basis: 40%;
  max-width: 40%;
  .c-form__heading{
    font-size: 1.8rem;
    padding: 13px 0 0;
  }
}
.c-form__body{
  flex-basis: 60%;
  max-width: 60%;
}
.c-form__body input{
  height: 48px;
}

.c-form-select-wrap select {
  height: 48px;
  word-wrap: break-word;
  white-space: break-spaces;
}

.personal-form__item-img label input {
  display: none;
}

.i-notice-limit{
  color: red;
  font-size: 1rem;
}
.c-form__group{
  padding-bottom: 0;
}
main.is-PersonalHome{
  .compute-data{
    color: #e6b5a6;
  } 
}

@media (max-width: 767px) {
  .l-content__header {
    font-size: 3.6rem;
  }
  .c-form__header{
    flex-basis: 100%;
    max-width: 100%;
    .c-form__heading{
      font-size: 1.6rem;
    }
  }
  .c-form__body{
    flex-basis: 100%;
    max-width: 100%;
  }
}