[hidden],
a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

footer,
header,
section {
  display: block;
}

img {
  vertical-align: bottom;
}

input[type="text"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}

figure {
  margin: 0;
}

html {
  font-size: 62.5%;
}

html.is-gnav-open {
  overflow: hidden;
}

body {
  color: #4d4d4d;
  font-size: 1rem;
  font-weight: 400;
  font-kerning: normal;
  font-feature-settings: "palt";
  -ms-font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  background: #fff;
  word-wrap: break-word;
  vertical-align: baseline;
  white-space: normal;
  border: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

body.is-fixed {
  position: fixed;
}

body.is-hidden {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

a {
  color: #4d4d4d;
  transition: opacity 0.3s ease;
}

a:hover {
  color: #4d4d4d;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a,
a:focus,
a:active,
a:hover,
a:visited,
:focus,
:active,
:hover,
:visited {
  outline: none !important;
  text-decoration: none;
}

.l-header {
  position: fixed;
  height: 100px;
  z-index: 30000;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
  opacity: 0;
  color: black;
}

.is-main-loaded .l-header {
  opacity: 1;
}

.l-header.is-fixed {
  position: fixed;
}

@media (max-width: 767px) {
  .l-header {
    width: 100%;
    height: 70px;
  }
}

.l-header-logo {
  position: absolute;
  top: 50px;
  left: 50px;
  transition: 0.3s ease;
}

.l-header-logo a {
  display: block;
}

.is-gnav-open .l-header-logo {
  visibility: visible !important;
  opacity: 1 !important;
}

@media (max-width: 1023px) {
  .l-header-logo {
    top: 40px;
    left: 40px;
  }
}

@media (max-width: 767px) {
  .l-header-logo {
    top: 30px;
    left: 28px;
    visibility: visible !important;
    opacity: 1 !important;
  }
}

.l-header-logo__svg {
  width: 130px;
  height: 19.5px;
}

@media (max-width: 767px) {
  .l-header-logo__svg {
    width: 104.25px;
    height: 15px;
  }
}

.l-header-logo__svg-item {
  transition: 0.3s;
  fill: #000;
  fill: white;
}

.is-base-white .l-header-logo__svg-item {
  fill: #000;
}

.is-base-black .l-header-logo__svg-item {
  fill: #fff;
}

.is-gnav-open .l-header-logo__svg-item {
  fill: #fff !important;
}

.l-header__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 80px;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(-100%);
  transform: translate3d(0, -100%, 0);
  background-color: #fff;
}

@media (max-width: 767px) {
  .l-header__bg {
    display: block;
    height: 50px;
  }

  .is-heder-bg-show .l-header__bg {
    transform: translateY(0);
    transform: translate3d(0);
  }
}

.l-wrapper {
  position: relative;
  visibility: hidden;
  width: 100%;
}

.is-main-loaded .l-wrapper {
  visibility: visible;
}

.l-main {
  overflow: visible;
  width: 100%;
}

.l-gnav {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: visibility 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
  opacity: 0;
}

.is-main-loaded .l-gnav {
  opacity: 1;
}

.is-gnav-open .l-gnav {
  visibility: visible;
  transition: visibility 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  pointer-events: auto;
}

@media (max-width: 767px) {
  .l-gnav {
    width: 100%;
  }
}

.l-gnav__wrapper {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transform: translate(-50%, -50%);
  text-align: center;
  text-align: left;
  opacity: 0;
}

.is-gnav-open .l-gnav__wrapper {
  transition: left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
  opacity: 1;
}

@media (max-width: 767px) {
  .l-gnav__wrapper {
    position: relative;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: column; */
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    transform: translateY(0);
  }

  .is-gnav-sub-show .l-gnav__wrapper {
    left: -100%;
  }
}

.l-gnav-main {
  position: relative;
}

@media (max-width: 1023px) {
  .l-gnav-main {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

.l-gnav-main__inner {
  position: relative;
}

@media (max-width: 767px) {
  .l-gnav-main__inner {
    padding: 120px 13% 90px;
  }
}

.l-gnav-menu {
  position: relative;
  height: 80vh;
  width: 450px;
  overflow: scroll;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 1023px) {
  .l-gnav-menu {
    height: 70vh;
    width: 320px;
  }
}

.l-gnav-menu__item {
  font-size: 3rem;
  font-weight: 500;
  font-feature-settings: "palt" 1;
  line-height: 1.4;
  position: relative;
  white-space: nowrap;
}

.l-gnav-menu__item a {
  display: inline-block;
  cursor: pointer;
  transition: ease 0.3s;
  color: #fff;
}

.l-gnav-menu__item a:hover {
  opacity: 0.5;
}

.l-gnav-menu__item.is-current>a {
  opacity: 0.5;
}

.l-gnav-menu__item.is-mouseover>a {
  opacity: 0.5;
}

@media (max-width: 1023px) {
  .l-gnav-menu__item {
    font-size: 2.4rem;
  }
}

@media (max-width: 767px) {
  .l-gnav-menu__item {
    line-height: 1.5;
  }
}

.l-gnav-menu__item--account {
  color: white;
  font-weight: 900;
}

.l-gnav-menu__item--account a {
  color: #e6b5a6;
  margin-bottom: 30px;
}

.js-gnav-item {
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.l-gnav__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translate3d(0, 0, 0);
}

.l-gnav__bg-part {
  position: absolute;
  z-index: 0;
  top: 0;
  overflow: hidden;
  width: 33.35%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scaleX(0);
  transform-origin: right;
  background-color: #000;
}

.l-gnav__bg-part--1 {
  left: 0;
  transition-delay: 0;
}

.l-gnav__bg-part--2 {
  left: 33.333%;
  transition-delay: 0;
}

.l-gnav__bg-part--3 {
  left: 66.666%;
  transition-delay: 0;
}

.is-gnav-open .l-gnav__bg-part {
  transform: scaleX(1);
  transform-origin: left;
}

.l-gnav-toggle {
  position: fixed;
  z-index: 30000;
  top: 10px;
  right: 20px;
  visibility: hidden;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
}

.is-main-loaded .l-gnav-toggle {
  visibility: visible;
}

.l-gnav-toggle.is-fixed {
  position: fixed;
}

.is-page-loaded .l-gnav-toggle {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

@media (max-width: 1023px) {
  .l-gnav-toggle {
    top: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .l-gnav-toggle {
    width: 80px;
    height: 80px;
  }
}

.l-gnav-toggle__inner {
  width: 100%;
  height: 100%;
  padding: 40px 30px;
}

@media (max-width: 767px) {
  .l-gnav-toggle__inner {
    padding: 32px 28px;
  }
}

.l-gnav-toggle__bar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: center center;
}

.l-gnav-toggle__bar--1 {
  top: 0;
}

.l-gnav-toggle__bar--2 {
  margin: 6px 0;
}

.l-gnav-toggle__bar--3 {
  top: 0;
}

.is-gnav-open .l-gnav-toggle__bar {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.is-gnav-open .l-gnav-toggle__bar--1 {
  top: 8px;
  transform: rotate(45deg);
}

.is-gnav-open .l-gnav-toggle__bar--2 {
  opacity: 0;
}

.is-gnav-open .l-gnav-toggle__bar--3 {
  top: -8px;
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .l-gnav-toggle__bar--2 {
    margin: 4px 0;
  }

  .is-gnav-open .l-gnav-toggle__bar--1 {
    top: 6px;
  }

  .is-gnav-open .l-gnav-toggle__bar--3 {
    top: -6px;
  }
}

.l-gnav-toggle__bar-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.is-base-white .l-gnav-toggle__bar-front {
  background: black;
}

.is-base-black .l-gnav-toggle__bar-front {
  background: white;
}

.is-gnav-open .l-gnav-toggle__bar-front {
  background: white;
}

.l-gnav-toggle__bar-back {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
}

.is-base-white .l-gnav-toggle__bar-back {
  background: rgba(0, 0, 0, 0.1);
}

.is-base-black .l-gnav-toggle__bar-back {
  background: rgba(255, 255, 255, 0.1);
}

.is-gnav-open .l-gnav-toggle__bar-back {
  background: rgba(255, 255, 255, 0.1);
}

.l-content {
  position: relative;
  min-height: calc(100vh - 251px);
}

.l-content__header {
  padding: 10vw 8vw 2vw;
}

@media (max-width: 1023px) {
  .l-content__header {
    padding: 120px 8vw 40px;
  }
}

@media (max-width: 767px) {
  .l-content__header {
    padding: 120px 8vw 30px;
  }
}

.l-content__header--register {
  padding-bottom: 60px;
}

@media (max-width: 1023px) {
  .l-content__header--register {
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .l-content__header--register {
    padding-bottom: 30px;
  }
}

.l-content__header--nopd {
  padding-bottom: 0;
}

.l-content__heading {
  font-size: 4vw;
  font-weight: 600;
  font-feature-settings: "palt" 1;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: -0.02em;
}

@media (max-width: 1680px) {
  .l-content__heading {
    font-size: 6.4rem;
  }
}

@media (max-width: 1023px) {
  .l-content__heading {
    font-size: 5.2rem;
  }
}

@media (max-width: 767px) {
  .l-content__heading {
    font-size: 3.6rem;
  }
}

@media (max-width: 560px) {
  .l-content__heading {
    font-size: 4rem;
    text-align: center;
  }
}

.c-grid-line__item {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  transform: translate3d(0, 0, 0);
  background-color: rgba(204, 204, 204, 0.2);
}

.c-grid-line__item--1 {
  left: 33.333%;
}

.c-grid-line__item--2 {
  left: 66.666%;
}

[class^="c-icon-"],
[class*="c-icon-"] {
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-icon-newwindow:before {
  content: "\e90a";
}

.c-icon-pin:before {
  content: "\e905";
}

.c-icon-arrow-left:before {
  content: "\e90b";
}

.c-icon-arrow-right:before {
  content: "\e90d";
}

.c-icon-arrow-s-down:before {
  content: "\e906";
}

.c-icon-arrow-s-up:before {
  content: "\e907";
}

.c-icon-arrow-s-right:before {
  content: "\e908";
}

.c-icon-arrow-s-left:before {
  content: "\e909";
}

.c-icon-google-plus:before {
  content: "\e900";
}

.c-icon-youtube:before {
  content: "\e901";
}

.c-icon-instagram:before {
  content: "\e902";
}

.c-icon-twitter:before {
  content: "\e903";
}

.c-icon-facebook:before {
  content: "\e904";
}



.i-notice {
  color: red;
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.6rem;
  margin: 30px auto 0;
  line-height: 2.6rem;
}

@media (max-width: 767px) {
  .i-notice {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}



.c-circle {
  width: 40px;
  height: 40px;
  transform: rotate(-90deg);
}

@media (max-width: 767px) {
  .c-circle {
    width: 34px;
    height: 34px;
  }
}

.c-circle__item {
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 2;
  stroke-dasharray: 0 150;
}

.is-next .c-circle__item {
  animation: draw-circle 4.4s linear 0s forwards;
}

.is-current .c-circle__item {
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: none;
  stroke-dasharray: 150 150;
}

@keyframes draw-circle {
  0% {
    stroke-dasharray: 0 150;
  }

  99.9% {
    stroke-dasharray: 150 150;
  }
}

@keyframes erase-circle {
  0% {
    stroke-dasharray: 150 150;
  }

  99.9% {
    stroke-dasharray: 0 150;
  }
}

.c-preloader-main {
  position: fixed;
  z-index: 10000000;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  text-align: center;
}

.is-gnav-open .c-preloader-main {
  pointer-events: none;
}

.c-preloader-main__inner {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.c-preloader-main__logo {
  font-size: 20px;
  font-size: 1.19048vw;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin: 0 auto 30px;
  padding-bottom: 3.21429vw;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
}

.is-main-loading .c-preloader-main__logo {
  opacity: 1;
}

@media (max-width: 1023px) {
  .c-preloader-main__logo {
    padding-bottom: 8vw;
  }
}

@media (max-width: 767px) {
  .c-preloader-main__logo {
    padding-bottom: 8vw;
  }
}

.c-preloader-main__logo-svg {
  width: 29.7619vw;
  height: 4.16667vw;
}

@media (max-width: 1023px) {
  .c-preloader-main__logo-svg {
    width: 45.57292vw;
    height: 6.38021vw;
  }
}

@media (max-width: 767px) {
  .c-preloader-main__logo-svg {
    width: 69.33333vw;
    height: 10.13333vw;
  }
}

.c-preloader-main__logo-svg path {
  /* fill: #000; */
  fill: #dba695;
}

.c-preloader-ajax {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  text-align: center;
  pointer-events: none;
}

.c-preloader-ajax__inner {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 80px;
  padding-bottom: 15px;
  transform: translate(-50%, -50%);
}

.c-preloader-ajax__bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  height: 1px;
  animation: loaderLine 0.6s infinite linear 0.6s;
  opacity: 0.5;
  background-color: #fff;
}

@keyframes loaderLine {
  0% {
    transform: translateX(-100%);
  }

  99.9% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.c-preloader-ajax__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translate3d(0, 0, 0);
}

.c-preloader-ajax__bg-part {
  position: absolute;
  z-index: 0;
  top: 0;
  overflow: hidden;
  width: 33.35%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scaleX(0);
  transform-origin: right;
  background-color: #fff;
}

.c-preloader-ajax__bg-part--1 {
  left: 0;
  transition-delay: 0;
}

.c-preloader-ajax__bg-part--2 {
  left: 33.333%;
  transition-delay: 0;
}

.c-preloader-ajax__bg-part--3 {
  left: 66.666%;
  transition-delay: 0;
}

.is-page-loading .c-preloader-ajax__bg-part {
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scaleX(1);
  transform-origin: left;
}

.c-preloader-ajax__logo-mark {
  width: 80px;
  height: 35px;
  margin: 0 auto;
}

.c-preloader-ajax__logo-mark path {
  fill: #fff;
}

@keyframes is_loading {
  0% {
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes is_loaded {
  100% {
    transform: translateX(100%);
    transform: translate3d(100%, 0, 0);
  }
}

.c-text-mask {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  vertical-align: bottom;
}

.c-text-mask--inlineblock {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.c-text-mask__word {
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  vertical-align: bottom;
}

.c-text-mask__clip {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.c-text-mask__item {
  position: relative;
  display: inline-block;
  transform: translateX(102%);
  vertical-align: text-top;
}

.c-thumb {
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.c-thumb__inner {
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0;
  transform: translateX(-102%);
}

.is-onscreen .c-thumb__inner {
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transform: translateX(0);
}

/* .is-mask-off .c-thumb__inner {
  transform: translateX(0);
} */

/* .c-thumb__inner:after {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0;
  transform-origin: right;
  background: #f1f1f1;
} */

/* .is-onscreen .c-thumb__inner:after {
  width: 120%;
  transition: transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transform: scaleX(0) skewX(40deg);
}

.is-mask-off .c-thumb__inner:after {
  width: 120%;
  transition: transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transform: scaleX(0) skewX(40deg);
} */

.c-thumb img {
  cursor: pointer;
}


.c-non-grid {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  background: #fff;
}

.is-main-loading .c-non-grid {
  display: block;
}

.is-main-loaded .c-non-grid {
  z-index: -1;
  display: none;
}

.is-page-loaded .c-non-grid {
  z-index: -1;
  display: none;
}

.c-non-grid--gnav {
  z-index: 0;
  opacity: 0;
  background: transparent;
}

.is-page-loaded .c-non-grid--gnav {
  z-index: 4;
  display: block;
}

.is-gnav-open .c-non-grid--gnav {
  opacity: 0.15;
}

.c-non-grid--about {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  opacity: 0.15;
  background: transparent;
}

.is-page-loaded .c-non-grid--about {
  z-index: 0;
  display: block;
}

.c-non-grid__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.c-non-grid__svg path {
  stroke-dashoffset: 1000;
  fill: transparent;
  stroke-width: 1;
  stroke-dashoffset: 0;
  stroke: rgb(225, 225, 225);
  fill: rgba(255, 255, 255, 0);
}

.c-heading {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 40px;
}

@media (max-width: 1680px) {
  .c-heading {
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  .c-heading {
    font-size: 2.4rem;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 560px) {
  .c-heading {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}



.p-contact {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.p-contact-form {
  padding: 0 8vw 200px;
  padding-bottom: 75px;
}

@media (max-width: 1023px) {
  .p-contact-form {
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .p-contact-form {
    padding: auto 20px;
  }
}







.l-content__header-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.l-content__header-btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-right: -5px;
  margin-left: -5px;
}

.l-content__header-btns .l-content__header-btn {
  margin-top: 0;
  padding-right: 5px;
  padding-left: 5px;
}

@media (max-width: 1023px) {
  .l-content__header-btns .l-content__header-btn {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .l-content__header-btns {
    display: block;
  }

  .l-content__header-btns .l-content__header-btn {
    margin-top: 10px;
  }
}








::-webkit-input-placeholder {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0.5;
}

:focus::-webkit-input-placeholder {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
}

:placeholder-shown {
  opacity: 1;
  color: #ccc;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #ccc;
}

:-moz-placeholder {
  opacity: 1;
  color: #ccc;
}

::-moz-placeholder {
  opacity: 1;
  color: #ccc;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #ccc;
}

.c-pagetop {
  position: fixed;
  z-index: 1000;
  top: 50%;
  right: 20px;
  display: block;
  visibility: hidden;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.3s ease;
  transform: translate3d(0, -50%, 0);
  opacity: 0;
}

.c-pagetop.is-show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1023px) {
  .c-pagetop {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .c-pagetop {
    top: auto;
    bottom: 15px;
    width: 50px;
    height: 50px;
    transform: translate3d(0, 0, 0);
  }
}

.c-pagetop__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.c-pagetop__text,
.c-pagetop__arrow {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  position: absolute;
  bottom: 50%;
  left: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  transform: translateX(-50%);
  letter-spacing: 0.02em;
  color: black;
}

.is-white .c-pagetop__text,
.is-white .c-pagetop__arrow {
  color: white;
}

@media (max-width: 767px) {

  .c-pagetop__text,
  .c-pagetop__arrow {
    font-size: 11px;
    font-size: 1.1rem;
  }
}

.c-pagetop__arrow-inner {
  font-size: 16px;
  font-size: 1.6rem;
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0);
}

.c-pagetop:hover .c-pagetop__arrow-inner {
  transform: translateY(-103%);
}

@media (max-width: 767px) {
  .c-pagetop__arrow-inner {
    transition: none;
  }

  .c-pagetop:hover .c-pagetop__arrow-inner {
    transform: translateY(0);
  }
}

@media (max-width: 767px) {
  .c-pagetop__text {
    display: none;
  }
}

.c-pagetop__text-inner {
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(103%);
}

.c-pagetop:hover .c-pagetop__text-inner {
  transform: translateY(0);
}

.c-pagetop__bar {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  width: 40px;
  height: 1px;
  transform: translate(-50%, -50%);
}

@media (max-width: 1023px) {
  .c-pagetop__bar {
    width: 40px;
  }
}

@media (max-width: 767px) {
  .c-pagetop__bar {
    width: 30px;
  }
}

.c-pagetop__bar-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(-100%);
}

.is-page-open .c-pagetop__bar-inner {
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(0);
}

.c-pagetop__bar-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.is-white .c-pagetop__bar-front {
  background: white;
}

.c-pagetop__bar-back {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0);
  background: rgba(0, 0, 0, 0.1);
}

.is-white .c-pagetop__bar-back {
  background: rgba(255, 255, 255, 0.1);
}

@keyframes count {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes count-off {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-105%);
  }
}

.p-top {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
}

.p-top__head {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 30px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.p-top-logo {
  text-align: center;
}

.p-top-logo__svg {
  width: 29.7619vw;
  height: 4.16667vw;
}

@media (max-width: 1023px) {
  .p-top-logo__svg {
    width: 45.57292vw;
    height: 6.38021vw;
  }
}

@media (max-width: 767px) {
  .p-top-logo__svg {
    width: 260px;
    height: 38px;
  }
}

@media (max-width: 320px) {
  .p-top-logo__svg {
    width: 200px;
    height: 30px;
  }
}

.p-top-logo__svg-item {
  fill: #fff;
}

.p-top-copy {
  position: relative;
  width: 100%;
  margin: 30px auto 0;
  margin-top: 1.78571vw;
  text-align: center;
}

@media (max-width: 1023px) {
  .p-top-copy {
    margin-top: 3.125vw;
  }
}

@media (max-width: 767px) {
  .p-top-copy {
    margin-top: 16px;
  }
}

@media (max-width: 320px) {
  .p-top-copy {
    margin-top: 14px;
  }
}

.p-top-copy__inner {
  font-size: 20px;
  font-size: 1.19048vw;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1.2em;
  letter-spacing: 0.06em;
  color: #fff;
}

@media (max-width: 1023px) {
  .p-top-copy__inner {
    font-size: 16px;
    font-size: 2.08333vw;
  }
}

@media (max-width: 767px) {
  .p-top-copy__inner {
    font-size: 11px;
    font-size: 1.1rem;
    letter-spacing: 0.03em;
  }
}

@media (max-width: 320px) {
  .p-top-copy__inner {
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 0.03em;
  }
}

.p-top-copy__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-105%);
  animation: count-off 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards;
  white-space: nowrap;
}

@media (max-width: 1023px) {
  .p-top-nav__text {
    font-size: 26px;
    font-size: 3.38542vw;
  }
}

@media (max-width: 320px) {
  .p-top-nav__text {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.p-top-copy__text.is-current {
  transform: translateY(0);
  animation: count 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s forwards;
}

.p-top-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

.p-top-nav__item {
  position: relative;
  z-index: 10;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  max-width: 33.333%;
  height: 100%;
  text-align: center;
}

.p-top-nav__item:last-child {
  -ms-flex: 0 0 33.334%;
  flex: 0 0 33.334%;
  max-width: 33.334%;
}

.p-top-nav__item a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #fff;
}

.p-top-nav__textblock {
  font-feature-settings: "palt" 1;
  position: absolute;
  bottom: 20%;
  width: 100%;
}

@media (max-width: 767px) {
  .p-top-nav__textblock {
    bottom: 18%;
  }
}

.p-top-nav__num {
  position: relative;
  overflow: visible;
  width: 42px;
  height: 42px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 767px) {
  .p-top-nav__num {
    width: 36px;
    height: 36px;
  }
}

.p-top-nav__num-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-top-nav__num-text {
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 42px;
  display: inline-block;
  width: 42px;
  height: 42px;
}

@media (max-width: 767px) {
  .p-top-nav__num-text {
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 36px;
    width: 36px;
    height: 36px;
  }
}

.p-top-nav__text {
  font-size: 30px;
  font-size: 1.78571vw;
  font-weight: 500;
  display: block;
  margin-top: 0.5em;
}

@media (max-width: 767px) {
  .p-top-nav__text {
    font-size: 15px;
    font-size: 1.5rem;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.p-top-kv {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  visibility: false;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.is-page-loaded .p-top-kv {
  visibility: visible;
}

.p-top-kv__item {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.p-top-kv__item.is-active {
  z-index: 1;
}

.p-top-kv__item.is-show {
  z-index: 2;
}

.p-top-kv__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.p-top-kv__image {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  transform: translate3d(0, 0, 0);
  opacity: 0.9;
  background-position: center center;
  background-size: cover;
}

.p-top-kv__image--1 {
  left: 0;
}

.p-top-kv__image--2 {
  left: -33.333vw;
}

.p-top-kv__image--3 {
  left: -66.666vw;
}

.is-show .p-top-kv__image {
  animation: anim-mask-img 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes anim-mask-img {
  0% {
    transform: translate3d(-5%, 0, 0);
  }

  99.9%,
  to {
    transform: translate3d(0, 0, 0);
  }
}

.p-top-kv__image--pc {
  display: block;
}

@media (max-width: 1023px) {
  .p-top-kv__image--pc {
    display: none;
  }
}

.p-top-kv__image--sp {
  display: none;
}

@media (max-width: 1023px) {
  .p-top-kv__image--sp {
    display: block;
  }
}

.p-top-kv-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.p-top-kv-mask__clip {
  width: 100%;
  height: 100%;
}

.p-top-kv-mask__item {
  position: absolute;
  top: 0;
  width: 33.333%;
  height: 100%;
}

.p-top-kv__overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  opacity: 0.3;
  background-color: #000;
}

.p-top-kv__part {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
  background-color: rgb(24, 24, 24);
}

.p-top-kv__part--1 {
  left: 0;
}

.p-top-kv__part--2 {
  left: 33.333%;
}

.p-top-kv__part--3 {
  left: 66.666%;
}

.is-active .p-top-kv__part {
  width: 33.35%;
}

.is-show .p-top-kv__part {
  width: 0;
  animation: anim-mask 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes anim-mask {
  0% {
    width: 0;
  }

  99.9%,
  to {
    width: 33.35%;
  }
}

.p-numbers {
  width: 100%;
}

.p-numbers__section {
  margin-top: 2vw;
  margin-right: auto;
  margin-left: auto;
  padding: 0 8vw;
}

@media (max-width: 767px) {
  .p-numbers__section {
    margin-top: 50px;
    padding: 0 8vw;
  }
}

.p-numbers-philosophy__image {
  text-align: center;
}

.p-numbers-philosophy__image img {
  width: 50%;
  max-width: 800px;
}

@media (max-width: 1023px) {
  .p-numbers-philosophy__image img {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .p-numbers-philosophy__image img {
    width: 85%;
    max-width: 800px;
  }
}

.p-numbers-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-right: -5%;
  margin-left: -5%;
}

.p-numbers-products .p-numbers-list {
  margin-bottom: -10%;
}

@media (max-width: 767px) {
  .p-numbers-products .p-numbers-list {
    margin-bottom: -15%;
  }
}

.p-numbers-list__item {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
  padding: 0 5% 5%;
}

.p-numbers-list__item img {
  width: 100%;
}

@media (max-width: 1023px) {
  .p-numbers-list__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .p-numbers-list__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    padding: 5% 5% 10%;
  }
}

.p-numbers-list__body {
  padding: 15px 0 0;
  transition: opacity 1s ease 0.8s;
  transform-origin: right;
  opacity: 0;
}

.is-onscreen .p-numbers-list__body {
  opacity: 1;
}

@media (max-width: 767px) {
  .p-numbers-list__body {
    padding: 25px 5px 0;
  }
}

.p-numbers-list__title {
  font-size: 1.8rem;
  font-weight: 600;
  font-feature-settings: "palt";
  line-height: 1.4;
  letter-spacing: 0.06em;
}

@media (max-width: 1023px) {
  .p-numbers-list__title {
    font-size: 1.6rem;
  }
}

.p-numbers-list__text {
  font-weight: 400;
  line-height: 2;
  margin-top: 5px;
  letter-spacing: 0.06em;
}

.clear,
.u-clearfix:before,
.u-clearfix:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: " ";
}

.u-clearfix:after {
  clear: both;
}

.u-sp-block {
  display: none;
}

@media (max-width: 767px) {
  .u-sp-block {
    display: block;
  }
}

.u-pad-inline {
  display: none !important;
}

@media (max-width: 1023px) {
  .u-pad-inline {
    display: block !important;
  }
}

.u-pc-block {
  display: block;
}

@media (max-width: 767px) {
  .u-pc-block {
    display: none;
  }
}

.u-pad-inline {
  display: none !important;
}

@media (max-width: 1023px) {
  .u-pad-inline {
    display: inline !important;
  }
}

.u-sp-inline {
  display: none !important;
}

@media (max-width: 767px) {
  .u-sp-inline {
    display: inline !important;
  }
}

.u-pc-inline {
  display: inline !important;
}

@media (max-width: 767px) {
  .u-pc-inline {
    display: none !important;
  }
}

.u-sp-inlineblock {
  display: none;
}

@media (max-width: 767px) {
  .u-sp-inlineblock {
    display: inline-block;
  }
}

.u-pc-inlineblock {
  display: inline-block;
}

@media (max-width: 767px) {
  .u-pc-inlineblock {
    display: none;
  }
}

.u-img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.u-img-no-responsive {
  display: inline-block;
  max-width: auto;
  height: auto;
}

.u-img-fit {
  display: inline-block;
  width: 100%;
  height: auto;
}

.u-delay-004 {
  transition-delay: 0.04s !important;
  animation-delay: 0.04s !important;
}

.u-delay-005 {
  transition-delay: 0.05s !important;
  animation-delay: 0.05s !important;
}

.u-delay-008 {
  transition-delay: 0.08s !important;
  animation-delay: 0.08s !important;
}

.u-delay-010 {
  transition-delay: 0.1s !important;
  animation-delay: 0.1s !important;
}

.u-delay-012 {
  transition-delay: 0.12s !important;
  animation-delay: 0.12s !important;
}

.u-delay-015 {
  transition-delay: 0.15s !important;
  animation-delay: 0.15s !important;
}

.u-delay-016 {
  transition-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

.u-delay-020 {
  transition-delay: 0.2s !important;
  animation-delay: 0.2s !important;
}

.u-delay-024 {
  transition-delay: 0.24s !important;
  animation-delay: 0.24s !important;
}

.u-delay-025 {
  transition-delay: 0.25s !important;
  animation-delay: 0.25s !important;
}

.u-delay-028 {
  transition-delay: 0.28s !important;
  animation-delay: 0.28s !important;
}

.u-delay-030 {
  transition-delay: 0.3s !important;
  animation-delay: 0.3s !important;
}

.u-delay-032 {
  transition-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.u-delay-035 {
  transition-delay: 0.35s !important;
  animation-delay: 0.35s !important;
}

.u-delay-036 {
  transition-delay: 0.36s !important;
  animation-delay: 0.36s !important;
}

.u-delay-040 {
  transition-delay: 0.4s !important;
  animation-delay: 0.4s !important;
}

.u-delay-044 {
  transition-delay: 0.44s !important;
  animation-delay: 0.44s !important;
}

.u-delay-045 {
  transition-delay: 0.45s !important;
  animation-delay: 0.45s !important;
}

.u-delay-048 {
  transition-delay: 0.48s !important;
  animation-delay: 0.48s !important;
}

.u-delay-050 {
  transition-delay: 0.5s !important;
  animation-delay: 0.5s !important;
}

.u-delay-052 {
  transition-delay: 0.52s !important;
  animation-delay: 0.52s !important;
}

.u-delay-055 {
  transition-delay: 0.55s !important;
  animation-delay: 0.55s !important;
}

.u-delay-056 {
  transition-delay: 0.56s !important;
  animation-delay: 0.56s !important;
}

.u-delay-060 {
  transition-delay: 0.6s !important;
  animation-delay: 0.6s !important;
}

.u-delay-064 {
  transition-delay: 0.64s !important;
  animation-delay: 0.64s !important;
}

.u-delay-065 {
  transition-delay: 0.65s !important;
  animation-delay: 0.65s !important;
}

.u-delay-068 {
  transition-delay: 0.68s !important;
  animation-delay: 0.68s !important;
}

.u-delay-070 {
  transition-delay: 0.7s !important;
  animation-delay: 0.7s !important;
}

.u-delay-072 {
  transition-delay: 0.72s !important;
  animation-delay: 0.72s !important;
}

.u-delay-075 {
  transition-delay: 0.75s !important;
  animation-delay: 0.75s !important;
}

.u-delay-076 {
  transition-delay: 0.76s !important;
  animation-delay: 0.76s !important;
}

.u-delay-080 {
  transition-delay: 0.8s !important;
  animation-delay: 0.8s !important;
}

.u-delay-085 {
  transition-delay: 0.85s !important;
  animation-delay: 0.85s !important;
}

.u-delay-090 {
  transition-delay: 0.9s !important;
  animation-delay: 0.9s !important;
}

.u-delay-095 {
  transition-delay: 0.95s !important;
  animation-delay: 0.95s !important;
}

.u-delay-100 {
  transition-delay: 1s !important;
  animation-delay: 1s !important;
}

.u-delay-105 {
  transition-delay: 1.05s !important;
  animation-delay: 1.05s !important;
}

.u-delay-110 {
  transition-delay: 1.1s !important;
  animation-delay: 1.1s !important;
}

.u-delay-105 {
  transition-delay: 1.05s !important;
  animation-delay: 1.05s !important;
}

.u-delay-110 {
  transition-delay: 1.1s !important;
  animation-delay: 1.1s !important;
}

.u-delay-115 {
  transition-delay: 1.15s !important;
  animation-delay: 1.15s !important;
}

.u-delay-120 {
  transition-delay: 1.2s !important;
  animation-delay: 1.2s !important;
}

.u-delay-125 {
  transition-delay: 1.25s !important;
  animation-delay: 1.25s !important;
}

.u-delay-130 {
  transition-delay: 1.3s !important;
  animation-delay: 1.3s !important;
}

.u-delay-135 {
  transition-delay: 1.35s !important;
  animation-delay: 1.35s !important;
}

.u-delay-140 {
  transition-delay: 1.4s !important;
  animation-delay: 1.4s !important;
}

.u-delay-145 {
  transition-delay: 1.45s !important;
  animation-delay: 1.45s !important;
}

.u-delay-150 {
  transition-delay: 1.5s !important;
  animation-delay: 1.5s !important;
}

.u-delay-155 {
  transition-delay: 1.55s !important;
  animation-delay: 1.55s !important;
}

.u-delay-160 {
  transition-delay: 1.6s !important;
  animation-delay: 1.6s !important;
}

.u-delay-165 {
  transition-delay: 1.65s !important;
  animation-delay: 1.65s !important;
}

.u-delay-170 {
  transition-delay: 1.7s !important;
  animation-delay: 1.7s !important;
}

.u-youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.u-youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.u-hover-shit {
  pointer-events: none;
}

.js-fadein {
  transition: opacity 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  opacity: 0;
}

.js-fadein.is-onscreen {
  opacity: 1 !important;
}

.is-onscreen .js-fadein {
  opacity: 1 !important;
}

.u-fadein {
  transition: opacity 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  opacity: 0;
}

.u-fadein.is-onscreen {
  opacity: 1 !important;
}

.is-onscreen .u-fadein {
  opacity: 1 !important;
}



@keyframes moveLineTopToBottom {
  0% {
    transform: scaleY(1);
    transform-origin: center bottom;
  }

  49.9% {
    transform: scaleY(0);
    transform-origin: center bottom;
  }

  50% {
    transform: scaleY(0);
    transform-origin: center top;
  }

  100% {
    transform: scaleY(1);
    transform-origin: center top;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}