@import "../Common/base", "../Common/header", "../Common/nav", "../Common/menu";


.c-button-2{
    width: 400px;
}
.c-button-2__inner{
    line-height: 1.5;
}
.c-form__body input{
    height: 58px;
}
.c-form__heading{
    font-size: 2.4rem;
}
.i-forget{
    width: 600px;
    margin: auto;
}
.is-verify .l-content__header{
    padding: 36vh 0 5vh;
}
.i-verify-content{
    margin: auto;
    width: 980px;
}
.i-verify-content__text{
    font-size: 2rem;
    text-align: left;
    line-height: 1.6;
}
.i-menu{
    flex-direction: column;
}
.l-content__heading{
    font-size: 4.8rem;
    text-align: center;
}
.l-content__header{
    padding: 20vw 0 2vw;
}
.l-content__body{
    margin: 40px auto;
}

@media screen and (max-width: 767px) {
    .c-button-2{
        width: 280px;
    }
    .i-forget{
        width: 320px;
    }
    .l-content__heading{
        font-size: 3.6rem;
    }
    .i-verify-content__text{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1023px) {
    .i-verify-content{
        text-align: left;
        width: 100%;
    }
}