@import '../Common/base', '../Common/header', '../Common/nav', '../Common/menu', '../Common/Store';

.i-form-4__item input {
  text-align: center;
}

.bonus-amount {
  width: 20px;
}

.bonus-amount-minus:hover {
  transform: scale(1.2);
}

.bonus-amount-plus:hover {
  transform: scale(1.2);
}

.c-button-2 {
  width: 250px;
  padding: 10px 15px;
}

@media (max-width: 767px) {
  .i-list {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .i-list {
    width: 250px;
  }
}

@media (max-width: 1023px) {
  .i-menu {
    flex-direction: column-reverse;
  }
}

.i-form-4 .i-price {
  margin: auto;
}

.p-text {
  width: 140px;
}

.p-text span {
  width: 120px;
}

.i-list__form {
  width: 90%;
}