@import "../Common/base", "../Common/header", "../Common/nav", "../Common/menu";


.i-caculator{
  width: 700px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .i-caculator{
    width: 90%;
  }
}
.c-button-2{
  padding: 15px 30px;
}
.c-form__heading{
  font-size: 1.8rem;
}
.c-form__body input{
  height: 48px;
}
.c-form-select-wrap select{
  height: 48px;
}
.i-header{
  margin: 160px 0 20px;
}
.i-logo{
  width: 390px;
  margin: auto;
}
.i-logo img{
  width: 100%;
}
.i-menu{
  margin: 5px auto;
}
.i-menu__item{
  margin: 5px auto;
}
@media (max-width: 960px){
  .i-menu{
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .i-logo{
    width: 300px;
    margin: 20px auto;
  }
}
@media (max-width: 400px) {
  .i-logo{
    width: 60vw;
  }
}