@import "../Common/base", "../Common/header", "../Common/nav";


body {
  background: rgba(150, 206, 252, 0) url("/images/iLottery_sky.png") no-repeat center / cover;
}

.l-content__body {
  max-width: 100%;
  height: 500px;
  margin-bottom: 10px;

  div.starBack {
    width: 560px;
    margin: auto;
    z-index: -999;

    div.stars {
      width: 80px;
      border-radius: 50%;
    }

    div.star1 {
      position: relative;
      top: -60px;
      left: -60px;
      animation: aStar1 2.5s 2s;
      animation-fill-mode: forwards;

      &:hover {
        border-radius: 50%;
        box-shadow: 0px 0px 20px 10px rgba(252, 150, 150, 0.6)
      }
    }

    div.star2 {
      position: relative;
      top: 380px;
      left: 300px;
      animation: aStar2 2s 2.8s;
      animation-fill-mode: forwards;

      &:hover {
        border-radius: 50%;
        box-shadow: 0px 0px 20px 10px rgba(252, 213, 150, 0.6)
      }
    }

    div.star3 {
      position: relative;
      top: 100px;
      left: 90px;
      opacity: 0;
      animation: aStar3 1.3s 2.8s;
      animation-fill-mode: forwards;

      &:hover {
        border-radius: 50%;
        box-shadow: 0px 0px 20px 10px rgba(252, 249, 150, 0.6)
      }
    }

    div.star4 {
      position: relative;
      top: -80px;
      left: 210px;
      opacity: 0;
      animation: aStar4 3s 2.8s;
      animation-fill-mode: forwards;

      &:hover {
        border-radius: 50%;
        box-shadow: 0px 0px 20px 10px rgba(182, 252, 150, 0.6)
      }
    }

    div.star5 {
      position: relative;
      top: -180px;
      left: -210px;
      animation: aStar5 2.5s 1s;
      animation-fill-mode: forwards;

      &:hover {
        border-radius: 50%;
        box-shadow: 0px 0px 20px 10px rgba(150, 206, 252, 0.6)
      }
    }

    div.star6 {
      position: relative;
      top: -260px;
      left: 510px;
      animation: aStar6 1.8s 2.8s;
      animation-fill-mode: forwards;

      &:hover {
        border-radius: 50%;
        box-shadow: 0px 0px 20px 10px rgba(33, 10, 134, 0.6)
      }
    }

    div.star7 {
      position: relative;
      top: -600px;
      left: 600px;
      opacity: 1;
      animation: aStar7 1.6s 3s;
      animation-fill-mode: forwards;

      &:hover {
        border-radius: 50%;
        box-shadow: 0px 0px 20px 10px rgba(243, 150, 252, 0.6)
      }
    }

  }

  img.imgStar {
    width: 80px;
    border-radius: 50%;
  }

  img.imgStar:hover {
    transform: scale3d(1.1, 1.1, 0.1);
  }
}

div.i-foot {
  color: black;
}

@keyframes aStar1 {
  0% {
    top: -60px;
    left: -60px;
    scale: 4;
    box-shadow: 0px 0px 20px 10px rgba(252, 150, 150, 0.6)
  }

  100% {
    top: 45px;
    left: 10%;
  }
}

@keyframes aStar2 {
  0% {
    top: 380px;
    left: 300px;
    scale: 2;
    box-shadow: 0px 0px 20px 10px rgba(252, 213, 150, 0.6);
  }

  100% {
    top: 0px;
    left: 22%;
  }
}

@keyframes aStar3 {
  0% {
    opacity: 0;
    top: 100px;
    left: 90px;
    scale: 3;
    box-shadow: 0px 0px 20px 10px rgba(252, 249, 150, 0.6)
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: -40px;
    left: 30%;
  }
}

@keyframes aStar4 {
  0% {
    opacity: 0;
    top: -80px;
    left: 210px;
    scale: 5;
    box-shadow: 0px 0px 20px 10px rgba(182, 252, 150, 0.6)
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: -80px;
    left: 40%;
  }
}

@keyframes aStar5 {
  0% {
    top: -180px;
    left: -210px;
    scale: 2;
    box-shadow: 0px 0px 20px 10px rgba(150, 206, 252, 0.6)
  }

  100% {
    top: -80px;
    left: 38%;
  }
}

@keyframes aStar6 {
  0% {
    top: -260px;
    left: 510px;
    scale: 2.4;
    box-shadow: 0px 0px 20px 10px rgba(33, 10, 134, 0.6)
  }

  100% {
    top: -140px;
    left: 55%;
  }
}

@keyframes aStar7 {
  0% {
    opacity: 0.2;
    top: -600px;
    left: 600px;
    scale: 3;
    box-shadow: 0px 0px 20px 10px rgba(243, 150, 252, 0.6)
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    top: -290px;
    left: 62%;
  }
}

@media screen and (max-width: 600px) {
  .l-content__body {
    div.starBack {
      max-width: 360px;

      div.star6 {
        top: -100px;
        left: 100px;
      }

      div.star7 {
        top: -180px;
        left: 130px;
      }

      @keyframes aStar5 {
        0% {
          top: -180px;
          left: -210px;
        }

        100% {
          top: -100px;
          left: 35%;
        }
      }

      @keyframes aStar6 {
        0% {
          top: -100px;
          left: 100px;
        }

        100% {
          top: -150px;
          left: 52%;
        }
      }

      @keyframes aStar7 {
        0% {
          top: -180px;
          left: 130px;
        }

        100% {
          top: -290px;
          left: 62%;
        }
      }
    }
  }
}