@import "../Common/base", "../Common/header", "../Common/nav", "../Common/menu";

.i-numbers {
  margin-bottom: 50px;
}

.i-calculator__form {
  margin: 20px 0 auto;
}

.p-numbers__section {
  margin-top: 0;
  margin-bottom: 20px;
}
.Primary_header{
  margin-bottom: 10px;
}
.Primary_unlockBtn{
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 40px;
  .i-button-2{
    padding: 3px 5px;
    margin-left: 10px;
  }
}

.p-chart__box {
  max-width: 90%;
  display: flex;
  justify-content: center;
  padding: auto;
  margin: 15px auto 0;
  .p-chart__box-img {
    flex: 1 1 45%;
    margin-right: 1vw;
    img{
      border-radius: 10px;
    }
  }
  .p-chart__box-lists {
    flex: 1 1 35%;    
  }
}

.p-numbers-list__body {
  margin-bottom: 2vw;  
}

.Primary_Unlock_box{
  display: flex;
  align-items: center;
  input[type=checkbox]{
    flex-basis: 12%;
    max-width: 12%;
    width: 20px;
    height: 20px;
  }
  h2{
    flex-basis: 86%;
    max-width: 86%;
    display: flex;
    align-items: center;
  }
}

.p-numbers-list__heading {
  font-size: 2vw;
  font-weight: 600;
}

.p-numbers-list{
  .chartBtn{
    width: 100%;
    border: none;
    background: none;
    height: 24px;
    box-shadow: 0px 10px 14px -7px #e6a6db;
    background:linear-gradient(to bottom, #e3a4d8 5%, #ba68ae 100%);
    background-color:#e3a4d8;
    text-shadow:0px 1px 0px #bf6bb1;
    margin: 3px auto;
    &:hover{
      background:linear-gradient(to bottom, #ba68ae 5%, #e3a4d8 100%);
	    background-color:#ba68ae;
    }
  }
}

form.i-forms {
  div.c-form__group {
    div.c-form__header {
      flex-basis: 40%;
      max-width: 40%;

      p.c-form__heading {
        padding: 0;
      }
    }

    div.c-form__body {
      flex-basis: 60%;
      max-width: 60%;

      div.c-form-select-wrap {
        select {
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .p-chart__box{
    .p-chart__box-img {
      flex: 1 1 50%;
    }
    .p-chart__box-lists {
      flex: 1 1 40%;
    }
  }
  .i-menu {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .c-heading {
    margin-bottom: 0;
  }
  .p-chart__box {
    flex-direction: column;
    max-width: 100%;
    .p-chart__box-lists {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .Primary_unlockBtn{
    justify-content: center;
    font-size: 1.4rem;
    margin: 5px;
  }
  .p-numbers-list__body {
    padding: 3% 0;
  }

  .p-numbers-list__heading {
    font-size: 1.6rem;
  }

  .lightbox:target {
    display: none;

  }
}

@media (max-width: 450px) {
  .c-form__heading {
    font-size: 1.2rem
  }
}