<div id="iFoot" class="i-foot">
    <h2>iSCIM Link</h2>
    <div class="utubeBox">
        <iframe :src="src" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <div class="utubeMenu">
            <button class="i-button btn1">冥想</button>
            <button class="i-button btn2">放鬆</button>
            <button class="i-button btn3">睡眠</button>
        </div>
    </div>
    <h3>Contact Me</h3>
    <div class="i-foot__content">
        <label>E-mail:</label>
        <span>willard30291@gmail.com</span>
    </div>
    <div class='linkSocial dis-f-r'>
        <div class='itemSocial'>
            <a href='https://www.facebook.com/groups/945164546462514/?ref=share'>
                <img class='logoSocial' src='./Data/Common/icon/logoFB.gif' />
            </a>
        </div>
        <div class='itemSocial'>
            <a href="https://www.instagram.com/law_of_Cosmos/">
                <img class='logoSocial' src='./Data/Common/icon/logoIG.gif' />
            </a>
        </div>
    </div>
</div>