<nav id="navMain">
    <div class="navMain">
        <div class="navBtn">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="navBoard">
            <ul>
                <li class="home"><a href="./index.html">HOME</a></li>
                <li class="about"><a href="./About Us.html">About Us</a></li>
                <li class="register"><a href="./Account_Register.html">Register</a></li>
                <li class="personalHome"><a href="./PersonalHome.html">PersonalHome</a></li>
                <li class="cosmos"><a href="#">Law of Cosmos</a></li>
                <li class="iMusic"><a href="./iMusic.html">iMusic</a></li>
            </ul>
        </div>
    </div>
</nav>